#footer .footer-logos {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
	margin-bottom: 2rem;
}

#footer .footer-logos img {
	max-height: 64px;
	max-width: 220px;
	width: auto;
}


#header {
	background: rgba(29, 36, 42, 0.75);
}

#banner:after {
	background: #21b2a6;
}


body.landing #footer {
	background-color: rgba(29, 36, 42, 0.75);
}


#footer {
	background-color: rgba(29, 36, 42, 0.75);
}


.spotlight .image {
	overflow: hidden;
}

.spotlight .image img {
	transition: transform 0.3s ease;
}

.spotlight:hover .image img {
	transform: scale(1.25);
}



@media screen and (min-width: 981px) {
	#header nav .nav-link {
		display: inline-block;
	}

	#header nav li.special {
		display: inline-block;
	}
}

@media screen and (max-width: 980px) {
	#header nav .nav-link {
		display: none;
	}

	#header nav li.special {
		display: inline-block;
	}
}


.google-doc {
	border: 0;
	height: 50vh;
	max-width: 100%;
	width: 100%;
}

